body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.nav-title {
    font-size: 45px;
    font-weight: 800px;
    color: #181818;
}

.text-primary {
    color: tomato;
}

nav>ul {
    display: flex;
    align-items: center;
}


nav li {
    list-style: none;
    margin-right: 120px;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: rgb(46, 44, 44);
}

.btn-primary {
    background-color: rgb(206, 72, 38);
    font-weight: 700px;
    font-size: 20px;
    color: white;
    border-radius: 3px;
    border: 0px;
    padding: 10px 30px;
}

.header {
    background-color: #fff8f3;
}

.banner {
    padding: 15px 0px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .profile-picture {
    width: 500px;
    padding-left: 150px;
}

.header {
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner-greeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;
}

.banner-title {
    font-size: 85px;
    font-weight: 700px;
    margin-top: 0px;
    margin-bottom: 12px;
}

.banner-content {
    max-width: 500px;
}


.content-description {
    margin-top: 0px;
    padding-bottom: 15px;
}

/* main section styles */

/* about section styles */

.about {
    margin: 130px;
    text-align: center;
    padding: 300px;
    margin-top: 0px;
    padding-top: 80px;
}

.section-title {
    font-weight: 700px;
    font-size: 35px;
}